{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1>Bonjour à tous</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, laboriosam. In harum, reiciendis dolor magnam nemo quas nihil beatae itaque eligendi doloribus suscipit, voluptates placeat libero blanditiis aliquam debitis asperiores modi obcaecati maiores consectetur minima. Doloremque dignissimos in saepe sint assumenda tempore quos fugiat, dolor ratione, vel, obcaecati optio libero.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, laboriosam. In harum, reiciendis dolor magnam nemo quas nihil beatae itaque eligendi doloribus suscipit, voluptates placeat libero blanditiis aliquam debitis asperiores modi obcaecati maiores consectetur minima. Doloremque dignissimos in saepe sint assumenda tempore quos fugiat, dolor ratione, vel, obcaecati optio libero.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, laboriosam. In harum, reiciendis dolor magnam nemo quas nihil beatae itaque eligendi doloribus suscipit, voluptates placeat libero blanditiis aliquam debitis asperiores modi obcaecati maiores consectetur minima. Doloremque dignissimos in saepe sint assumenda tempore quos fugiat, dolor ratione, vel, obcaecati optio libero.</p>

{% endblock %}