{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h1 class="text-center m-2">Pensions pour chiens et chats</h1>

        <p>À la recherche d'une pension pour chiens dans la région de Chambley-Bussières à la fois familiale et moderne ? Confiez à la Pension de Lorraine Ipsum votre compagnon à 4 pattes : vous vous féliciterez d'avoir fait ce choix.</p>

    <h3>Un box spacieux et individuel pour votre chien</h3>
        <div class="row">
            <div class="col-6 mt-2">
                <p class="text-justify">Notre pension pour chiens, facilement accessible de Metz et de Nancy, a mis les petits plats dans les grands pour faire oublier autant que faire se peut votre absence à votre fidèle compagnon.
            <br><br>
                Son <strong>box individuel chauffé en hiver</strong> dispose de sa propre cour extérieure. Il sera nettoyé et désinfecté chaque jour pour une hygiène irréprochable.</p>
                </div>
            <div class="col-6">
                <img src="{{ '/image/pension.jpg' }}" alt="pensionnat" height="300" width="550">
            </div>
        
        </div>

    <h3>De l'espace pour courir et s'amuser</h3>
        <p><strong>Notre domaine dispose de 2 parcs de détente de 400 et 600 m²</strong> afin que votre chien puisse se défouler. Deux à trois balades individuelles ou à plusieurs ont lieu dans un parc 2 à 3 fois par jour pour compléter ce programme d'activités.</p>
            <div class="row">
                <div class="col-6">
                    <img src="{{ '/image/home_chien.jpg' }}" alt="chien" height="300" width="500">
                </div>
                <div class="col-6">
                    <p>Notre établissement présente aussi d’autres atouts :</p>
                        <ul>
                            <li>bâtiment isolé et chauffé</li>
                            <li>hygiène garantie</li>
                            <li>atmosphère familiale</li>
                            <li>tarifs attractifs, etc.</li>
                        </ul>
                </div>
            </div>

{% endblock %}